.page {
  font-size: 14px
  letter-spacing: 2px
  word-spacing: 2px
  text-align: justify
}

table th:first-of-type {
    min-width: 150px;
}

table th:nth-of-type(2) {
    min-width: 100px;
}

th, td {
  border-left: none
  border-right: none
}